<div class="center jumbotron">
<% provide(:title, "FAQ") %>
<title><%= yield(:title) %></title>
<%= render 'faqs/questions' %>
</div>

<script type="text/javascript">

  function changeIcon(o){   
   obj = document.getElementById(o);
   if (obj.className=="icon icon-chevron-down") 
     setTimeout(function(){obj.className= "icon icon-chevron-up"}, 800);
   else if (obj.className=="icon icon-chevron-up") 
      obj.className= "icon icon-chevron-down";     
  }   

</script>

<style type="text/css">
.panel-warning {
  border-color: #FFA500;
}

.panel-warning > .panel-heading {
  color: #383838;
  background-color: #FFA500;
  border-color: #FFA500;
}

a.list-group-item:hover,
a.list-group-item:focus {
  color: #555;
  text-decoration: none;
  background-color:#faebcc;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #555;
  cursor: default;
  background-color: #faebcc;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}

</style>

