
<!DOCTYPE html>
<html lang='en'>
<head>
   <meta charset="utf-8" />
   <title>FAQ</title>
</head>

<h1>Perguntas Frequentes</h1>
<div class="tabbable tabs-left">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#a" data-toggle="tab">Lei de Acesso a Informação</a></li>
          <li><a href="#b" data-toggle="tab">Ouvidoria</a></li>
          <li><a href="#c" data-toggle="tab">Ficha Limpa</a></li>
        </ul>
        <div class="tab-content">
         <div class="tab-pane active" id="a">
            <body style="padding: 0px;">

            <div class="panel panel-primary">
              <div class="panel-heading">Perguntas Frequentes</div>

               
              <a href="#submenu1" class="list-group-item sub-item" data-toggle="collapse" data-parent="#submenu1">
                  <h4 class="list-group-item-heading"><b>Qual a finalidade da Lei de Acesso à Informação?</b></h4>
                    <span class=" menu-ico-collapse"></span>
              </a>
                    <div class="collapse list-group-submenu" id="submenu1">
                    <p class="list-group-item sub-item-text">O art. 5º, inciso XXXIII da Constituição Federal prevê que todos têm direito a receber dos órgãos públicos informações de seu interesse particular, ou de interesse coletivo ou geral. A Lei nº 12.527, de 18 de novembro de 2011 além de garantir esse direito, colabora para o fortalecimento do controle social e da participação cidadão.</p>
                    </div>


              <a href="#submenu2" class="list-group-item sub-item" data-toggle="collapse" data-parent="#submenu2">
                <h4 class="list-group-item-heading"><b>Quais órgãos estão subordinados à essa Lei?</b></h4>
                  <span class=" menu-ico-collapse"></span>
              </a>
                  <div class="collapse list-group-submenu" id="submenu2">
                    <p class="list-group-item sub-item-text">Os órgãos da administração direta do Poder Executivo do Distrito Federal, a Câmara Legislativa do Distrito Federal e o Tribunal de Contas do Distrito Federal. As autarquias, fundações públicas, empresas públicas, sociedades de economia mista e demais entidades controladas direta ou indiretamente pelo Distrito Federal. No que couber, às entidades privadas sem fins lucrativos que recebam, para realização de ações de interesse público, recursos públicos diretamente do orçamento ou mediante subvenções sociais, contrato de gestão, termo de parceria, convênios, acordos, ajustes ou outros instrumentos congêneres.</p>
                  </div>


              <a href="#submenu3" class="list-group-item sub-item" data-toggle="collapse" data-parent="#submenu3">
                <h4 class="list-group-item-heading"><b>Quem pode solicitar informações?</b></h4>
                  <span class=" menu-ico-collapse"></span>
              </a>
                  <div class="collapse list-group-submenu" id="submenu3">
                    <p class="list-group-item sub-item-text">Qualquer interessado poderá pedir acesso a informações aos órgãos e entidades, mediante preenchimento de um requerimento próprio que não poderá conter exigências que inviabilizem a solicitação.</p>
                  </div>

              <a href="#submenu4" class="list-group-item sub-item" data-toggle="collapse" data-parent="#submenu4">
                <h4 class="list-group-item-heading"><b>As informações dos órgãos ou entidades estarão centralizadas em um único local?</b></h4>
                  <span class=" menu-ico-collapse"></span>
              </a>
                  <div class="collapse list-group-submenu" id="submenu4">
                    <p class="list-group-item sub-item-text">Não. Cada órgão ou entidade será responsável pelo fornecimento das informações que estejam sob sua guarda ou que sejam produzidas por ele. Para obter as informações de um determinado órgão ou entidade, o requerente deverá dirigir seu pedido diretamente a esse órgão ou entidade.</p>
                  </div>

              <a href="#submenu5" class="list-group-item sub-item" data-toggle="collapse" data-parent="#submenu5">
                <h4 class="list-group-item-heading"><b>É necessário haver uma justificativa para o pedido?</b></h4>
                  <span class=" menu-ico-collapse"></span>
              </a>
                  <div class="collapse list-group-submenu" id="submenu5">
                    <p class="list-group-item sub-item-text">Não. A Lei de Acesso à Informação veda quaisquer exigências relativas aos motivos determinantes da solicitação de informações de interesse público.</p>
                  </div>

              <a href="#submenu6" class="list-group-item sub-item" data-toggle="collapse" data-parent="#submenu6">
                <h4 class="list-group-item-heading"><b>Qual é o prazo para o fornecimento das informações?</b></h4>
                  <span class=" menu-ico-collapse"></span>
              </a>
                  <div class="collapse list-group-submenu" id="submenu6">
                    <p class="list-group-item sub-item-text">Se a informação requerida estiver disponível, órgão ou entidade deverá autorizar e conceder o acesso imediato à ela. Não sendo possível o acesso imediato, o órgão ou entidade terá o prazo máximo de 20 (vinte) dias para disponibilizá-la.</p>
                  </div>

              <a href="#submenu7" class="list-group-item sub-item" data-toggle="collapse" data-parent="#submenu7">
                <h4 class="list-group-item-heading"><b>O prazo para o fornecimento das informações poderá ser prorrogado?</b></h4>
                  <span class=" menu-ico-collapse"></span>
              </a>
                  <div class="collapse list-group-submenu" id="submenu7">
                    <p class="list-group-item sub-item-text">Sim. O prazo de 20 dias poderá ser prorrogado por mais 10 (dez) dias, mediante justificativa expressa, devendo o requerente ser cientificado.</p>
                  </div>

              <a href="#submenu8" class="list-group-item sub-item" data-toggle="collapse" data-parent="#submenu8">
                <h4 class="list-group-item-heading"><b>O acesso às informações solicitadas terá algum custo para o cidadão?</b></h4>
                  <span class=" menu-ico-collapse"></span>
              </a>
                  <div class="collapse list-group-submenu" id="submenu8">
                    <p class="list-group-item sub-item-text">Não. O serviço de busca e fornecimento da informação é gratuito, salvo nas hipóteses de reprodução de documentos, situação em que será cobrado exclusivamente o valor necessário ao ressarcimento do custo dos serviços e materiais utilizados.</p>
                  </div>

              <a href="#submenu9" class="list-group-item sub-item" data-toggle="collapse" data-parent="#submenu9">
                <h4 class="list-group-item-heading"><b>Todas as informações produzidas pelos órgãos e entidades estarão disponíveis para serem solicitadas?</b></h4>
                  <span class=" menu-ico-collapse"></span>
              </a>
                  <div class="collapse list-group-submenu" id="submenu9">
                    <p class="list-group-item sub-item-text">De forma geral todas as informações produzidas ou custodiadas pelos órgãos/entidades do Poder Público Distrital deverão ser disponibilizadas, exceto aquelas que são consideradas imprescindíveis à segurança da sociedade ou do Estado, que poderão sofrer classificação.</p>
                  </div>

              <a href="#submenu10" class="list-group-item sub-item" data-toggle="collapse" data-parent="#submenu10">
                <h4 class="list-group-item-heading"><b>Quais as informações que são passíveis de classificação?</b></h4>
                  <span class=" menu-ico-collapse"></span>
              </a>
                  <div class="collapse list-group-submenu" id="submenu10">
                    <p class="list-group-item sub-item-text">As informações que põem em risco a defesa e a soberania nacionais ou a integridade do território nacional; As informações que prejudicam ou põem em risco a condução de negociações ou as relações internacionais do País, ou as que tenham sido fornecidas em caráter sigiloso por outros Estados e organismos internacionais; As informações que põem em risco a vida, a segurança ou a saúde da população; As informações que oferecem elevado risco à estabilidade financeira, econômica ou monetária do País; As informações que prejudicam ou causam risco a planos ou operações estratégicos das Forças Armadas; As informações que prejudicam ou causam risco a projetos de pesquisa e desenvolvimento científico ou tecnológico, assim como a sistemas, bens, instalações ou áreas de interesse estratégico nacional; As informações que põem em risco a segurança de instituições ou de altas autoridades distritais, nacionais ou estrangeiras e seus familiares; ou As informações que comprometem atividades de inteligência, bem como de investigação ou fiscalização em andamento, relacionadas com a prevenção ou repressão de infrações.</p>
                  </div>
               

               <div class="panel-footer"></div>
            </div>
            </body>
          

         </div>
         <div class="tab-pane" id="b">Secondo sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
         Aliquam in felis sit amet augue.</div>
         <div class="tab-pane" id="c">Thirdamuno, ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
         Quisque mauris augue, molestie tincidunt condimentum vitae. </div>
        </div>
</div>
</html>





