<h1 id="Inicio">Código do Consumidor</h1>
<h2>Lei nº 8.078, de 11 de setembro de 1990</h2><br>

<dl>
  <dt id="CapítuloI"> CAPÍTULO I </dt><br>
  <dd>  Art. 1° O presente código estabelece normas de proteção e defesa do consumidor, de ordem pública e interesse social, nos termos dos arts. 5°, 	   inciso XXXII, 170, inciso V, da Constituição Federal e art. 48 de suas Disposições Transitórias.<br>
 
        Art. 2° Consumidor é toda pessoa física ou jurídica que adquire ou utiliza produto ou serviço como destinatário final.<br>
 
        Parágrafo único. Equipara-se a consumidor a coletividade de pessoas, ainda que indetermináveis, que haja intervindo nas relações de consumo.<br>
 
        Art. 3° Fornecedor é toda pessoa física ou jurídica, pública ou privada, nacional ou estrangeira, bem como os entes despersonalizados, que desenvolvem atividade de produção, montagem, criação, construção, transformação, importação, exportação, distribuição ou comercialização de produtos ou prestação de serviços.<br>
 
        § 1° Produto é qualquer bem, móvel ou imóvel, material ou imaterial.<br>
 
        § 2° Serviço é qualquer atividade fornecida no mercado de consumo, mediante remuneração, inclusive as de natureza bancária, financeira, de crédito e securitária, salvo as decorrentes das relações de caráter trabalhista.</dd>
</dl>

<dl>
  <dt id="CapítuloII"> CAPÍTULO II </dt><br>
  <dd>  Da Política Nacional de Relações de Consumo
 
 
        Art. 4º A Política Nacional das Relações de Consumo tem por objetivo o atendimento das necessidades dos consumidores, o respeito à sua dignidade, saúde e segurança, a proteção de seus interesses econômicos, a melhoria da sua qualidade de vida, bem como a transparência e harmonia das relações de consumo, atendidos os seguintes princípios:<br>
	<ul> 

        I - reconhecimento da vulnerabilidade do consumidor no mercado de consumo<br> 
        II - ação governamental no sentido de proteger efetivamente o consumidor:<br>

	     <ul> 
	 
	        a) por iniciativa direta;<br>
	 
	        b) por incentivos à criação e desenvolvimento de associações representativas;<br>
	 
	        c) pela presença do Estado no mercado de consumo;<br>
	 
	        d) pela garantia dos produtos e serviços com padrões adequados de qualidade, segurança, durabilidade e desempenho.<br>

	 	</ul>

        III - harmonização dos interesses dos participantes das relações de consumo e compatibilização da proteção do consumidor com a necessidade de desenvolvimento econômico e tecnológico, de modo a viabilizar os princípios nos quais se funda a ordem econômica (art. 170, da Constituição Federal), sempre com base na boa-fé e equilíbrio nas relações entre consumidores e fornecedores;<br>
 
        IV - educação e informação de fornecedores e consumidores, quanto aos seus direitos e deveres, com vistas à melhoria do mercado de consumo;<br>
 
        V - incentivo à criação pelos fornecedores de meios eficientes de controle de qualidade e segurança de produtos e serviços, assim como de mecanismos alternativos de solução de conflitos de consumo;<br>
 
        VI - coibição e repressão eficientes de todos os abusos praticados no mercado de consumo, inclusive a concorrência desleal e utilização indevida de inventos e criações industriais das marcas e nomes comerciais e signos distintivos, que possam causar prejuízos aos consumidores;<br>
 
        VII - racionalização e melhoria dos serviços públicos;<br>
 
        VIII - estudo constante das modificações do mercado de consumo.<br>

     </ul>

        Art. 5° Para a execução da Política Nacional das Relações de Consumo, contará o poder público com os seguintes instrumentos, entre outros:<br>

        <ul>
 
	        I - manutenção de assistência jurídica, integral e gratuita para o consumidor carente;<br>
	 
	        II - instituição de Promotorias de Justiça de Defesa do Consumidor, no âmbito do Ministério Público;<br>
	 
	        III - criação de delegacias de polícia especializadas no atendimento de consumidores vítimas de infrações penais de consumo;<br>
	 
	        IV - criação de Juizados Especiais de Pequenas Causas e Varas Especializadas para a solução de litígios de consumo;<br>
	 
	        V - concessão de estímulos à criação e desenvolvimento das Associações de Defesa do Consumidor.<br>
	    </ul>

        § 1° (Vetado).<br>
 
        § 2º (Vetado).<br>
</dd>
</dl>

<dl>
<dt id="CapítuloIII">CAPÍTULO III</dt><br>

   <dd> Dos Direitos Básicos do Consumidor<br>
 
        Art. 6º São direitos básicos do consumidor:<br>

       <ul> 
 
	        I - a proteção da vida, saúde e segurança contra os riscos provocados por práticas no fornecimento de produtos e serviços considerados perigosos ou nocivos;<br>
	 
	        II - a educação e divulgação sobre o consumo adequado dos produtos e serviços, asseguradas a liberdade de escolha e a igualdade nas contratações;<br>
	 
	        III - a informação adequada e clara sobre os diferentes produtos e serviços, com especificação correta de quantidade, características, composição, qualidade e preço, bem como sobre os riscos que apresentem;<br>
	 
	        IV - a proteção contra a publicidade enganosa e abusiva, métodos comerciais coercitivos ou desleais, bem como contra práticas e cláusulas abusivas ou impostas no fornecimento de produtos e serviços;<br>
	 
	        V - a modificação das cláusulas contratuais que estabeleçam prestações desproporcionais ou sua revisão em razão de fatos supervenientes que as tornem excessivamente onerosas;<br>
	 
	        VI - a efetiva prevenção e reparação de danos patrimoniais e morais, individuais, coletivos e difusos<br>

	        VII - o acesso aos órgãos judiciários e administrativos com vistas à prevenção ou reparação de danos patrimoniais e morais, individuais, coletivos ou difusos, assegurada a proteção Jurídica, administrativa e técnica aos necessitados;<br><br>
	 
	        VIII - a facilitação da defesa de seus direitos, inclusive com a inversão do ônus da prova, a seu favor, no processo civil, quando, a critério do juiz, for verossímil a alegação ou quando for ele hipossuficiente, segundo as regras ordinárias de experiências;<br>
	 
	        IX - (Vetado);<br>
	 
	        X - a adequada e eficaz prestação dos serviços públicos em geral.<br>
	 	</ul>

        Art. 7° Os direitos previstos neste código não excluem outros decorrentes de tratados ou convenções internacionais de que o Brasil seja signatário, da legislação interna ordinária, de regulamentos expedidos pelas autoridades administrativas competentes, bem como dos que derivem dos princípios gerais do direito, analogia, costumes e eqüidade.<br>
 
        Parágrafo único. Tendo mais de um autor a ofensa, todos responderão solidariamente pela reparação dos danos previstos nas normas de consumo.<br>
     </dd>
</dl>
<dl>
<dt id="CapítuloIV">CAPÍTULO IV</dt><br>

   <dd> 
       <b id="SeçãoIa">SEÇÃO I</b><br>

       Da Proteção à Saúde e Segurança<br>
 
        Art. 8° Os produtos e serviços colocados no mercado de consumo não acarretarão riscos à saúde ou segurança dos consumidores, exceto os considerados normais e previsíveis em decorrência de sua natureza e fruição, obrigando-se os fornecedores, em qualquer hipótese, a dar as informações necessárias e adequadas a seu respeito.<br>
 
        Parágrafo único. Em se tratando de produto industrial, ao fabricante cabe prestar as informações a que se refere este artigo, através de impressos apropriados que devam acompanhar o produto.<br>
 
        Art. 9° O fornecedor de produtos e serviços potencialmente nocivos ou perigosos à saúde ou segurança deverá informar, de maneira ostensiva e adequada, a respeito da sua nocividade ou periculosidade, sem prejuízo da adoção de outras medidas cabíveis em cada caso concreto.<br>
 
        Art. 10. O fornecedor não poderá colocar no mercado de consumo produto ou serviço que sabe ou deveria saber apresentar alto grau de nocividade ou periculosidade à saúde ou segurança.<br>
 
        § 1° O fornecedor de produtos e serviços que, posteriormente à sua introdução no mercado de consumo, tiver conhecimento da periculosidade que apresentem, deverá comunicar o fato imediatamente às autoridades competentes e aos consumidores, mediante anúncios publicitários.<br>
 
        § 2° Os anúncios publicitários a que se refere o parágrafo anterior serão veiculados na imprensa, rádio e televisão, às expensas do fornecedor do produto ou serviço.<br><br>
 
        § 3° Sempre que tiverem conhecimento de periculosidade de produtos ou serviços à saúde ou segurança dos consumidores, a União, os Estados, o Distrito Federal e os Municípios deverão informá-los a respeito.<br>
 
        Art. 11. (Vetado).<br>
 
<b id="SeçãoIIa">SEÇÃO II</b><br>

		Da Responsabilidade pelo Fato do Produto e do Serviço<br>
 
        Art. 12. O fabricante, o produtor, o construtor, nacional ou estrangeiro, e o importador respondem, independentemente da existência de culpa, pela reparação dos danos causados aos consumidores por defeitos decorrentes de projeto, fabricação, construção, montagem, fórmulas, manipulação, apresentação ou acondicionamento de seus produtos, bem como por informações insuficientes ou inadequadas sobre sua utilização e riscos.<br>
 
        § 1° O produto é defeituoso quando não oferece a segurança que dele legitimamente se espera, levando-se em consideração as circunstâncias relevantes, entre as quais<br>
        <ul> 
       		I - sua apresentação;
	 
	        II - o uso e os riscos que razoavelmente dele se esperam;
	 
	        III - a época em que foi colocado em circulação.
	    </ul>
 
        § 2º O produto não é considerado defeituoso pelo fato de outro de melhor qualidade ter sido colocado no mercado.<br>
 
        § 3° O fabricante, o construtor, o produtor ou importador só não será responsabilizado quando provar:<br>

 		<ul>

	        I - que não colocou o produto no mercado;<br>
	 
	        II - que, embora haja colocado o produto no mercado, o defeito inexiste<br>

	        III - a culpa exclusiva do consumidor ou de terceiro.<br>

	    </ul>    
 
        Art. 13. O comerciante é igualmente responsável, nos termos do artigo anterior, quando:<br>

 		<ul>
	        I - o fabricante, o construtor, o produtor ou o importador não puderem ser identificados;<br>
	 
	        II - o produto for fornecido sem identificação clara do seu fabricante, produtor, construtor ou importador;<br>
	 
	        III - não conservar adequadamente os produtos perecíveis.<br>

	    </ul>    
 
        Parágrafo único. Aquele que efetivar o pagamento ao prejudicado poderá exercer o direito de regresso contra os demais responsáveis, segundo sua participação na causação do evento danoso.<br>
 
        Art. 14. O fornecedor de serviços responde, independentemente da existência de culpa, pela reparação dos danos causados aos consumidores por defeitos relativos à prestação dos serviços, bem como por informações insuficientes ou inadequadas sobre sua fruição e riscos.<br><br>
 
        § 1° O serviço é defeituoso quando não fornece a segurança que o consumidor dele pode esperar, levando-se em consideração as circunstâncias relevantes, entre as quais:<br>

		<ul> 
	        I - o modo de seu fornecimento;<br>

	        II - o resultado e os riscos que razoavelmente dele se esperam;<br>
	 
	        III - a época em que foi fornecido.<br>
	    </ul>    
 
        § 2º O serviço não é considerado defeituoso pela adoção de novas técnicas.<br>
 
        § 3° O fornecedor de serviços só não será responsabilizado quando provar:<br>

 		<ul>
	        I - que, tendo prestado o serviço, o defeito inexiste;<br>
	 
	        II - a culpa exclusiva do consumidor ou de terceiro.<br>	 	</ul>
	 	

	   </ul>

        § 4° A responsabilidade pessoal dos profissionais liberais será apurada mediante a verificação de culpa.<br>
 
        Art. 15. (Vetado).<br>
 
        Art. 16. (Vetado).<br>
 
        Art. 17. Para os efeitos desta Seção, equiparam-se aos consumidores todas as vítimas do evento. <br> 
 
	<b id="SeçãoIIIa">SEÇÃO III</b>

		Da Responsabilidade por Vício do Produto e do Serviço<br>
 
        Art. 18. Os fornecedores de produtos de consumo duráveis ou não duráveis respondem solidariamente pelos vícios de qualidade ou quantidade que os tornem impróprios ou inadequados ao consumo a que se destinam ou lhes diminuam o valor, assim como por aqueles decorrentes da disparidade, com a indicações constantes do recipiente, da embalagem, rotulagem ou mensagem publicitária, respeitadas as variações decorrentes de sua natureza, podendo o consumidor exigir a substituição das partes viciadas.<br>
 
        § 1° Não sendo o vício sanado no prazo máximo de trinta dias, pode o consumidor exigir, alternativamente e à sua escolha:<br>
        <ul>
 
	        I - a substituição do produto por outro da mesma espécie, em perfeitas condições de uso;
	 
	        II - a restituição imediata da quantia paga, monetariamente atualizada, sem prejuízo de eventuais perdas e danos;
	 
	        III - o abatimento proporcional do preço.

 		</ul>

        § 2° Poderão as partes convencionar a redução ou ampliação do prazo previsto no parágrafo anterior, não podendo ser inferior a sete nem superior a cento e oitenta dias. Nos contratos de adesão, a cláusula de prazo deverá ser convencionada em separado, por meio de manifestação expressa do consumidor.<br>
 
        § 3° O consumidor poderá fazer uso imediato das alternativas do § 1° deste artigo sempre que, em razão da extensão do vício, a substituição das partes viciadas puder comprometer a qualidade ou características do produto, diminuir-lhe o valor ou se tratar de produto essencial.<br>
 
        § 4° Tendo o consumidor optado pela alternativa do inciso I do § 1° deste artigo, e não sendo possível a substituição do bem, poderá haver substituição por outro de espécie, marca ou modelo diversos, mediante complementação ou restituição de eventual diferença de preço, sem prejuízo do disposto nos incisos II e III do § 1° deste artigo<br>

        § 5° No caso de fornecimento de produtos in natura, será responsável perante o consumidor o fornecedor imediato, exceto quando identificado claramente seu produtor.<br>
 
        § 6° São impróprios ao uso e consumo:<br>
 		<ul>
	        I - os produtos cujos prazos de validade estejam vencidos;<br>
	 
	        II - os produtos deteriorados, alterados, adulterados, avariados, falsificados, corrompidos, fraudados, nocivos à vida ou à saúde, perigosos ou, ainda, aqueles em desacordo com as normas regulamentares de fabricação, distribuição ou apresentação;<br>
	 
	        III - os produtos que, por qualquer motivo, se revelem inadequados ao fim a que se destinam.<br>

 		</ul>

        Art. 19. Os fornecedores respondem solidariamente pelos vícios de quantidade do produto sempre que, respeitadas as variações decorrentes de sua natureza, seu conteúdo líquido for inferior às indicações constantes do recipiente, da embalagem, rotulagem ou de mensagem publicitária, podendo o consumidor exigir, alternativamente e à sua escolha:<br>
	 
	    <ul>
	        I - o abatimento proporcional do preço;<br>
	 
	        II - complementação do peso ou medida;<br>
	 
	        III - a substituição do produto por outro da mesma espécie, marca ou modelo, sem os aludidos vícios;<br>
	 
	        IV - a restituição imediata da quantia paga, monetariamente atualizada, sem prejuízo de eventuais perdas e danos.<br>
 
 		</ul>

        § 1° Aplica-se a este artigo o disposto no § 4° do artigo anterior.<br>
 
        § 2° O fornecedor imediato será responsável quando fizer a pesagem ou a medição e o instrumento utilizado não estiver aferido segundo os padrões oficiais.<br>
 
        Art. 20. O fornecedor de serviços responde pelos vícios de qualidade que os tornem impróprios ao consumo ou lhes diminuam o valor, assim como por aqueles decorrentes da disparidade com as indicações constantes da oferta ou mensagem publicitária, podendo o consumidor exigir, alternativamente e à sua escolha:<br>

        <ul>
	 
	        I - a reexecução dos serviços, sem custo adicional e quando cabível;<br>
	 
	        II - a restituição imediata da quantia paga, monetariamente atualizada, sem prejuízo de eventuais perdas e danos;<br>
	 
	        III - o abatimento proporcional do preço.<br>
	    </ul>    
 
        § 1° A reexecução dos serviços poderá ser confiada a terceiros devidamente capacitados, por conta e risco do fornecedor.<br>
 
        § 2° São impróprios os serviços que se mostrem inadequados para os fins que razoavelmente deles se esperam, bem como aqueles que não atendam as normas regulamentares de prestabilidade.<br>
 
        Art. 21. No fornecimento de serviços que tenham por objetivo a reparação de qualquer produto considerar-se-á implícita a obrigação do fornecedor de empregar componentes de reposição originais adequados e novos, ou que mantenham as especificações técnicas do fabricante, salvo, quanto a estes últimos, autorização em contrário do     consumidor.<br>
 
        Art. 22. Os órgãos públicos, por si ou suas empresas, concessionárias, permissionárias ou sob qualquer outra forma de empreendimento, são obrigados a fornecer serviços adequados, eficientes, seguros e, quanto aos essenciais, contínuos.<br>
 
        Parágrafo único. Nos casos de descumprimento, total ou parcial, das obrigações referidas neste artigo, serão as pessoas jurídicas compelidas a cumpri-las e a reparar os danos causados, na forma prevista neste código.<br>
 
        Art. 23. A ignorância do fornecedor sobre os vícios de qualidade por inadequação dos produtos e serviços não o exime de responsabilidade.<br>
 
        Art. 24. A garantia legal de adequação do produto ou serviço independe de termo expresso, vedada a exoneração contratual do fornecedor.<br>
 
        Art. 25. É vedada a estipulação contratual de cláusula que impossibilite, exonere ou atenue a obrigação de indenizar prevista nesta e nas seções anteriores.<br>
 
        § 1° Havendo mais de um responsável pela causação do dano, todos responderão solidariamente pela reparação prevista nesta e nas seções anteriores.<br><br>
 
        § 2° Sendo o dano causado por componente ou peça incorporada ao produto ou serviço, são responsáveis solidários seu fabricante, construtor ou importador e o que realizou a incorporação.<br>
 
       <b id="SeçãoIVa"> SEÇÃO IV</b>

		Da Decadência e da Prescrição<br>
 
        Art. 26. O direito de reclamar pelos vícios aparentes ou de fácil constatação caduca em:<br>
        <ul>
 
	        I - trinta dias, tratando-se de fornecimento de serviço e de produtos não duráveis;
	 
	        II - noventa dias, tratando-se de fornecimento de serviço e de produtos duráveis.
	 
	 	</ul>

        § 1° Inicia-se a contagem do prazo decadencial a partir da entrega efetiva do produto ou do término da execução      dos serviços.<br>
 
        § 2° Obstam a decadência:<br>
 		<ul>
	        I - a reclamação comprovadamente formulada pelo consumidor perante o fornecedor de produtos e serviços até a resposta negativa correspondente, que deve ser transmitida de forma inequívoca;<br>
	 
	        II - (Vetado).<br>
	 
	        III - a instauração de inquérito civil, até seu encerramento.<br>
	 	
	 	</ul>  

        § 3° Tratando-se de vício oculto, o prazo decadencial inicia-se no momento em que ficar evidenciado o defeito.<br>
 
        Art. 27. Prescreve em cinco anos a pretensão à reparação pelos danos causados por fato do produto ou do serviço prevista na Seção II deste Capítulo, iniciando-se a contagem do prazo a partir do conhecimento do dano e de sua autoria.<br>
 
        Parágrafo único. (Vetado).<br>

 
	<b id="SeçãoVa">SEÇÃO V</b><br>
		Da Desconsideração da Personalidade Jurídica<br><br>
 
        Art. 28. O juiz poderá desconsiderar a personalidade jurídica da sociedade quando, em detrimento do consumidor, houver abuso de direito, excesso de poder, infração da lei, fato ou ato ilícito ou violação dos estatutos ou contrato social. A desconsideração também será efetivada quando houver falência, estado de insolvência, encerramento ou inatividade da pessoa jurídica provocados por má administração.<br>
 
        § 1° (Vetado).<br>
 
        § 2° As sociedades integrantes dos grupos societários e as sociedades controladas, são subsidiariamente responsáveis pelas obrigações decorrentes deste código.<br>
 
        § 3° As sociedades consorciadas são solidariamente responsáveis pelas obrigações decorrentes deste código.<br>
 
        § 4° As sociedades coligadas só responderão por culpa.<br>
 
        § 5° Também poderá ser desconsiderada a pessoa jurídica sempre que sua personalidade for, de alguma forma, obstáculo ao ressarcimento de prejuízos causados aos consumidores.<br>
   </dd>
</dl>


	<dt id="CapítuloV">CAPÍTULO V</dt><br>

	Das Práticas Comerciais<br>
	 
	<b id="SeçãoIb">SEÇÃO I</b><br>
	Das Disposições Gerais<br>
 
        Art. 29. Para os fins deste Capítulo e do seguinte, equiparam-se aos consumidores todas as pessoas determináveis ou não, expostas às práticas nele previstas.<br>
 
	 
	<b id="SeçãoIIb">SEÇÃO II</b><br>
	Da Oferta<br>
 
        Art. 30. Toda informação ou publicidade, suficientemente precisa, veiculada por qualquer forma ou meio de comunicação com relação a produtos e serviços oferecidos ou apresentados, obriga o fornecedor que a fizer veicular ou dela se utilizar e integra o contrato que vier a ser celebrado.<br>
 
         Art. 31. A oferta e apresentação de produtos ou serviços devem assegurar informações corretas, claras, precisas, ostensivas e em língua portuguesa sobre suas características, qualidades, quantidade, composição, preço, garantia, prazos de validade e origem, entre outros dados, bem como sobre os riscos que apresentam à saúde e segurança dos consumidores.<br>
 
        Parágrafo único.  As informações de que trata este artigo, nos produtos refrigerados oferecidos ao consumidor, serão gravadas de forma indelével. (Incluído pela Lei nº 11.989, de 2009)<br>
 
        Art. 32. Os fabricantes e importadores deverão assegurar a oferta de componentes e peças de reposição enquanto não cessar a fabricação ou importação do produto.<br>
 
        Parágrafo único. Cessadas a produção ou importação, a oferta deverá ser mantida por período razoável de tempo, na forma da lei.<br>
 
        Art. 33. Em caso de oferta ou venda por telefone ou reembolso postal, deve constar o nome do fabricante e endereço na embalagem, publicidade e em todos os impressos utilizados na transação comercial.<br>
 
        Parágrafo único.  É proibida a publicidade de bens e serviços por telefone, quando a chamada for onerosa ao consumidor que a origina. (Incluído pela Lei nº 11.800, de 2008).<br>
 
        Art. 34. O fornecedor do produto ou serviço é solidariamente responsável pelos atos de seus prepostos ou representantes autônomos.<br>
 
        Art. 35. Se o fornecedor de produtos ou serviços recusar cumprimento à oferta, apresentação ou publicidade, o consumidor poderá, alternativamente e à sua livre escolha:<br>

        <ul>
	 
	        I - exigir o cumprimento forçado da obrigação, nos termos da oferta, apresentação ou publicidade;
	 
	        II - aceitar outro produto ou prestação de serviço equivalente;
	 
	        III - rescindir o contrato, com direito à restituição de quantia eventualmente antecipada, monetariamente atualizada, e a perdas e danos.
	 	</ul>>

 
 
	<b id="SeçãoIIIb">SEÇÃO III</b><br>
	Da Publicidade<br>
 
        Art. 36. A publicidade deve ser veiculada de tal forma que o consumidor, fácil e imediatamente, a identifique como tal.<br>
 
        Parágrafo único. O fornecedor, na publicidade de seus produtos ou serviços, manterá, em seu poder, para informação dos legítimos interessados, os dados fáticos, técnicos e científicos que dão sustentação à mensagem.<br>
 
        Art. 37. É proibida toda publicidade enganosa ou abusiva.<br>
 
        § 1° É enganosa qualquer modalidade de informação ou comunicação de caráter publicitário, inteira ou parcialmente falsa, ou, por qualquer outro modo, mesmo por omissão, capaz de induzir em erro o consumidor a respeito da natureza, características, qualidade, quantidade, propriedades, origem, preço e quaisquer outros dados sobre produtos e serviços.<br>
 
        § 2° É abusiva, dentre outras a publicidade discriminatória de qualquer natureza, a que incite à violência, explore o medo ou a superstição, se aproveite da deficiência de julgamento e experiência da criança, desrespeita valores ambientais, ou que seja capaz de induzir o consumidor a se comportar de forma prejudicial ou perigosa à sua saúde ou segurança.<br><br>
 
        § 3° Para os efeitos deste código, a publicidade é enganosa por omissão quando deixar de informar sobre dado essencial do produto ou serviço.<br>
 
        § 4° (Vetado).<br>
 
        Art. 38. O ônus da prova da veracidade e correção da informação ou comunicação publicitária cabe a quem as patrocina.<br>


 
 
	<b id="SeçãoIVb">SEÇÃO IV</b><br>
	Das Práticas Abusivas<br>
	 
       
        Art. 39. É vedado ao fornecedor de produtos ou serviços, dentre outras práticas abusivas: (Redação dada pela Lei nº 8.884, de 11.6.1994)<br>
 
        <ul>

	        I - condicionar o fornecimento de produto ou de serviço ao fornecimento de outro produto ou serviço, bem como, sem justa causa, a limites quantitativos;<br>
	 
	        II - recusar atendimento às demandas dos consumidores, na exata medida de suas disponibilidades de estoque, e, ainda, de conformidade com os usos e costumes;<br>
	 
	        III - enviar ou entregar ao consumidor, sem solicitação prévia, qualquer produto, ou fornecer qualquer serviço;<br>
	 
	        IV - prevalecer-se da fraqueza ou ignorância do consumidor, tendo em vista sua idade, saúde, conhecimento ou condição social, para impingir-lhe seus produtos ou serviços;<br>
	 
	        V - exigir do consumidor vantagem manifestamente excessiva;<br>
	 
	        VI - executar serviços sem a prévia elaboração de orçamento e autorização expressa do consumidor, ressalvadas as decorrentes de práticas anteriores entre as partes;<br>
	 
	        VII - repassar informação depreciativa, referente a ato praticado pelo consumidor no exercício de seus direitos;<br>
	 
	        VIII - colocar, no mercado de consumo, qualquer produto ou serviço em desacordo com as normas expedidas pelos órgãos oficiais competentes ou, se normas específicas não existirem, pela Associação Brasileira de Normas Técnicas ou outra entidade credenciada pelo Conselho Nacional de Metrologia, Normalização e Qualidade Industrial (Conmetro);<br>
	 
	       IX - recusar a venda de bens ou a prestação de serviços, diretamente a quem se disponha a adquiri-los mediante pronto pagamento, ressalvados os casos de intermediação regulados em leis especiais; (Redação dada pela Lei nº 8.884, de 11.6.1994)<br>
	 
	        X - elevar sem justa causa o preço de produtos ou serviços. (Incluído pela Lei nº 8.884, de 11.6.1994)<br>
	 
	        XI -  Dispositivo  incluído pela MPV  nº 1.890-67, de 22.10.1999, transformado em inciso  XIII, quando da converão na Lei nº 9.870, de 23.11.1999<br>
	 
	        XII - deixar de estipular prazo para o cumprimento de sua obrigação ou deixar a fixação de seu termo inicial a seu exclusivo critério.(Incluído pela Lei nº 9.008, de 21.3.1995)<br>
	 
	        XIII - aplicar fórmula ou índice de reajuste diverso do legal ou contratualmente estabelecido. (Incluído pela Lei nº 9.870, de 23.11.1999)<br>

        </ul>
 
        Parágrafo único. Os serviços prestados e os produtos remetidos ou entregues ao consumidor, na hipótese prevista no inciso III, equiparam-se às amostras grátis, inexistindo obrigação de pagamento.<br>
 
        Art. 40. O fornecedor de serviço será obrigado a entregar ao consumidor orçamento prévio discriminando o valor da mão-de-obra, dos materiais e equipamentos a serem empregados, as condições de pagamento, bem como as datas de início e término dos serviços.<br>
 
        § 1º Salvo estipulação em contrário, o valor orçado terá validade pelo prazo de dez dias, contado de seu recebimento pelo consumidor.<br>
 
        § 2° Uma vez aprovado pelo consumidor, o orçamento obriga os contraentes e somente pode ser alterado mediante livre negociação das partes.<br>
 
        § 3° O consumidor não responde por quaisquer ônus ou acréscimos decorrentes da contratação de serviços de terceiros não previstos no orçamento prévio.<br>
 
        Art. 41. No caso de fornecimento de produtos ou de serviços sujeitos ao regime de controle ou de tabelamento de preços, os fornecedores deverão respeitar os limites oficiais sob pena de não o fazendo, responderem pela restituição da quantia recebida em excesso, monetariamente atualizada, podendo o consumidor exigir à sua escolha, o desfazimento do negócio, sem prejuízo de outras sanções cabíveis.<br>


 
 
<b id="SeçãoVb">SEÇÃO V</b><br>
Da Cobrança de Dívidas<br>
 
        Art. 42. Na cobrança de débitos, o consumidor inadimplente não será exposto a ridículo, nem será submetido a qualquer tipo de constrangimento ou ameaça.<br>
 
        Parágrafo único. O consumidor cobrado em quantia indevida tem direito à repetição do indébito, por valor igual ao dobro do que pagou em excesso, acrescido de correção monetária e juros legais, salvo hipótese de engano justificável.<br>
 
        Art. 42-A.  Em todos os documentos de cobrança de débitos apresentados ao consumidor, deverão constar o nome, o endereço e o número de inscrição no Cadastro de Pessoas Físicas – CPF ou no Cadastro Nacional de Pessoa Jurídica – CNPJ do fornecedor do produto ou serviço correspondente. (Incluído pela Lei nº 12.039, de 2009).<br>


 
 
	<b id="SeçãoVI">SEÇÃO VI</b><br>
		Dos Bancos de Dados e Cadastros de Consumidores<br>
 
        Art. 43. O consumidor, sem prejuízo do disposto no art. 86, terá acesso às informações existentes em cadastros, fichas, registros e dados pessoais e de consumo arquivados sobre ele, bem como sobre as suas respectivas fontes.<br>
 
        § 1° Os cadastros e dados de consumidores devem ser objetivos, claros, verdadeiros e em linguagem de fácil compreensão, não podendo conter informações negativas referentes a período superior a cinco anos.<br><br>
 
        § 2° A abertura de cadastro, ficha, registro e dados pessoais e de consumo deverá ser comunicada por escrito ao consumidor, quando não solicitada por ele.<br>
 
        § 3° O consumidor, sempre que encontrar inexatidão nos seus dados e cadastros, poderá exigir sua imediata correção, devendo o arquivista, no prazo de cinco dias úteis, comunicar a alteração aos eventuais destinatários das informações incorretas.<br><br>
 
        § 4° Os bancos de dados e cadastros relativos a consumidores, os serviços de proteção ao crédito e congêneres são considerados entidades de caráter público.<br>
 
        § 5° Consumada a prescrição relativa à cobrança de débitos do consumidor, não serão fornecidas, pelos respectivos Sistemas de Proteção ao Crédito, quaisquer informações que possam impedir ou dificultar novo acesso ao crédito junto aos fornecedores.<br>
 
        Art. 44. Os órgãos públicos de defesa do consumidor manterão cadastros atualizados de reclamações fundamentadas contra fornecedores de produtos e serviços, devendo divulgá-lo pública e anualmente. A divulgação indicará se a reclamação foi atendida ou não pelo fornecedor.<br>
 
        § 1° É facultado o acesso às informações lá constantes para orientação e consulta por qualquer interessado.<br>
 
        § 2° Aplicam-se a este artigo, no que couber, as mesmas regras enunciadas no artigo anterior e as do parágrafo único do art. 22 deste código.<br>
 
        Art. 45. (Vetado).<br>


<dl>
 <dt id="CapítuloVI">CAPÍTULO VI</dt><br>

	Da Proteção Contratual<br>
 
 
<b id="SeçãoIc">SEÇÃO I</b><br>
Disposições Gerais<br>
 
        Art. 46. Os contratos que regulam as relações de consumo não obrigarão os consumidores, se não lhes for dada a oportunidade de tomar conhecimento prévio de seu conteúdo, ou se os respectivos instrumentos forem redigidos de modo a dificultar a compreensão de seu sentido e alcance.<br>
 
        Art. 47. As cláusulas contratuais serão interpretadas de maneira mais favorável ao consumidor.<br>
 
        Art. 48. As declarações de vontade constantes de escritos particulares, recibos e pré-contratos relativos às relações de consumo vinculam o fornecedor, ensejando inclusive execução específica, nos termos do art. 84 e parágrafos.<br>
 
        Art. 49. O consumidor pode desistir do contrato, no prazo de 7 dias a contar de sua assinatura ou do ato de recebimento do produto ou serviço, sempre que a contratação de fornecimento de produtos e serviços ocorrer fora do estabelecimento comercial, especialmente por telefone ou a domicílio.<br>
 
        Parágrafo único. Se o consumidor exercitar o direito de arrependimento previsto neste artigo, os valores eventualmente pagos, a qualquer título, durante o prazo de reflexão, serão devolvidos, de imediato, monetariamente atualizados<br>

        Art. 50. A garantia contratual é complementar à legal e será conferida mediante termo escrito.<br>
 
        Parágrafo único. O termo de garantia ou equivalente deve ser padronizado e esclarecer, de maneira adequada em que consiste a mesma garantia, bem como a forma, o prazo e o lugar em que pode ser exercitada e os ônus a cargo do consumidor, devendo ser-lhe entregue, devidamente preenchido pelo fornecedor, no ato do fornecimento, acompanhado de manual de instrução, de instalação e uso do produto em linguagem didática, com ilustrações.<br>
 
 
<b id="SeçãoIIc">SEÇÃO II</b><br>
Das Cláusulas Abusivas<br>
 
        Art. 51. São nulas de pleno direito, entre outras, as cláusulas contratuais relativas ao fornecimento de produtos e serviços que:<br>

        <ul>
 
	        I - impossibilitem, exonerem ou atenuem a responsabilidade do fornecedor por vícios de qualquer natureza dos produtos e serviços ou impliquem renúncia ou disposição de direitos. Nas relações de consumo entre o fornecedor e o consumidor pessoa jurídica, a indenização poderá ser limitada, em situações justificáveis;<br>
	 
	        II - subtraiam ao consumidor a opção de reembolso da quantia já paga, nos casos previstos neste código;<br>
	 
	        III - transfiram responsabilidades a terceiros;<br>
	 
	        IV - estabeleçam obrigações consideradas iníquas, abusivas, que coloquem o consumidor em desvantagem exagerada, ou sejam incompatíveis com a boa-fé ou a eqüidade;<br>
	 
	        V - (Vetado);<br>
	 
	        VI - estabeleçam inversão do ônus da prova em prejuízo do consumidor;<br>
	 
	        VII - determinem a utilização compulsória de arbitragem;<br>
	 
	        VIII - imponham representante para concluir ou realizar outro negócio jurídico pelo consumidor;<br>
	 
	        IX - deixem ao fornecedor a opção de concluir ou não o contrato, embora obrigando o consumidor;<br>
	 
	        X - permitam ao fornecedor, direta ou indiretamente, variação do preço de maneira unilateral;<br>
	 
	        XI - autorizem o fornecedor a cancelar o contrato unilateralmente, sem que igual direito seja conferido ao consumidor;<br>
	 
	        XII - obriguem o consumidor a ressarcir os custos de cobrança de sua obrigação, sem que igual direito lhe seja conferido contra o fornecedor;<br>
	 
	        XIII - autorizem o fornecedor a modificar unilateralmente o conteúdo ou a qualidade do contrato, após sua celebração;<br>
	 
	        XIV - infrinjam ou possibilitem a violação de normas ambientais;<br>
	 
	        XV - estejam em desacordo com o sistema de proteção ao consumidor;<br>
	 
	        XVI - possibilitem a renúncia do direito de indenização por benfeitorias necessárias.<br>
	 
	   </ul>

        § 1º Presume-se exagerada, entre outros casos, a vontade que:<br>

        <ul>
 
	        I - ofende os princípios fundamentais do sistema jurídico a que pertence;<br>
	 
	        II - restringe direitos ou obrigações fundamentais inerentes à natureza do contrato, de tal modo a ameaçar seu objeto ou equilíbrio contratual;<br>
	 
	        III - se mostra excessivamente onerosa para o consumidor, considerando-se a natureza e conteúdo do contrato, o interesse das partes e outras circunstâncias peculiares ao caso.<br>

	    </ul>    
	 
        § 2° A nulidade de uma cláusula contratual abusiva não invalida o contrato, exceto quando de sua ausência, apesar dos esforços de integração, decorrer ônus excessivo a qualquer das partes.<br>
 
        § 3° (Vetado).<br>
 
        § 4° É facultado a qualquer consumidor ou entidade que o represente requerer ao Ministério Público que ajuíze a competente ação para ser declarada a nulidade de cláusula contratual que contrarie o disposto neste código ou de qualquer forma não assegure o justo equilíbrio entre direitos e obrigações das partes.<br>
 
        Art. 52. No fornecimento de produtos ou serviços que envolva outorga de crédito ou concessão de financiamento ao consumidor, o fornecedor deverá, entre outros requisitos, informá-lo prévia e adequadamente sobre:<br>

        <ul>
 
	        I - preço do produto ou serviço em moeda corrente nacional;<br>
	 
	        II - montante dos juros de mora e da taxa efetiva anual de juros;<br>
	 
	        III - acréscimos legalmente previstos;<br>
	 
	        IV - número e periodicidade das prestações;<br>
	 
	        V - soma total a pagar, com e sem financiamento.<br>
	    </ul>    
 
        § 1° As multas de mora decorrentes do inadimplemento de obrigações no seu termo não poderão ser superiores a dois por cento do valor da prestação.(Redação dada pela Lei nº 9.298, de 1º.8.1996)<br>
 
        § 2º É assegurado ao consumidor a liquidação antecipada do débito, total ou parcialmente, mediante redução proporcional dos juros e demais acréscimos.<br>
 
        § 3º (Vetado).<br>
 
        Art. 53. Nos contratos de compra e venda de móveis ou imóveis mediante pagamento em prestações, bem como nas alienações fiduciárias em garantia, consideram-se nulas de pleno direito as cláusulas que estabeleçam a perda total das prestações pagas em benefício do credor que, em razão do inadimplemento, pleitear a resolução do contrato e a retomada do produto alienado.<br>
 
        § 1° (Vetado).<br>
 
        § 2º Nos contratos do sistema de consórcio de produtos duráveis, a compensação ou a restituição das parcelas quitadas, na forma deste artigo, terá descontada, além da vantagem econômica auferida com a fruição, os prejuízos que o desistente ou inadimplente causar ao grupo.<br>
 
        § 3° Os contratos de que trata o caput deste artigo serão expressos em moeda corrente nacional. <br>
 

 
 
	<b id="SeçãoIIIc">SEÇÃO III</b><br>
	Dos Contratos de Adesão<br>
 
        Art. 54. Contrato de adesão é aquele cujas cláusulas tenham sido aprovadas pela autoridade competente ou estabelecidas unilateralmente pelo fornecedor de produtos ou serviços, sem que o consumidor possa discutir ou modificar substancialmente seu conteúdo. <br>
 
        § 1° A inserção de cláusula no formulário não desfigura a natureza de adesão do contrato.<br>
 
        § 2° Nos contratos de adesão admite-se cláusula resolutória, desde que a alternativa, cabendo a escolha ao consumidor, ressalvando-se o disposto no § 2° do artigo anterior.<br>
 
        § 3°  Os contratos de adesão escritos serão redigidos em termos claros e com caracteres ostensivos e legíveis, cujo tamanho da fonte não será inferior ao corpo doze, de modo a facilitar sua compreensão pelo consumidor. (Redação dada pela nº 11.785, de 2008)<br>
 
        § 4° As cláusulas que implicarem limitação de direito do consumidor deverão ser redigidas com destaque, permitindo sua imediata e fácil compreensão.<br>
 
       § 5° (Vetado)<br>


    <b id="CapítuloVII">CAPÍTULO VII</b><br>

	Das Sanções Administrativas<br>
     
 
  		Art. 55. A União, os Estados e o Distrito Federal, em caráter concorrente e nas suas respectivas áreas de atuação administrativa, baixarão normas relativas à produção, industrialização, distribuição e consumo de produtos e serviços.<br>
 
        § 1° A União, os Estados, o Distrito Federal e os Municípios fiscalizarão e controlarão a produção, industrialização, distribuição, a publicidade de produtos e serviços e o mercado de consumo, no interesse da preservação da vida, da saúde, da segurança, da informação e do bem-estar do consumidor, baixando as normas que se fizerem necessárias.<br>
 
        § 2° (Vetado).<br>
 
        § 3° Os órgãos federais, estaduais, do Distrito Federal e municipais com atribuições para fiscalizar e controlar o mercado de consumo manterão comissões permanentes para elaboração, revisão e atualização das normas referidas no § 1°, sendo obrigatória a participação dos consumidores e fornecedores.<br>
 
        § 4° Os órgãos oficiais poderão expedir notificações aos fornecedores para que, sob pena de desobediência, prestem informações sobre questões de interesse do consumidor, resguardado o segredo industrial.<br>
 
        Art. 56. As infrações das normas de defesa do consumidor ficam sujeitas, conforme o caso, às seguintes sanções administrativas, sem prejuízo das de natureza civil, penal e das definidas em normas específicas:<br>

        <ul>
	 
	        I - multa;
	 
	        II - apreensão do produto;
	 
	        III - inutilização do produto;
	 
	        IV - cassação do registro do produto junto ao órgão competente;
	 
	        V - proibição de fabricação do produto;
	 
	        VI - suspensão de fornecimento de produtos ou serviço;
	 
	        VII - suspensão temporária de atividade;
	 
	        VIII - revogação de concessão ou permissão de uso;
	 
	        IX - cassação de licença do estabelecimento ou de atividade;
	 
	        X - interdição, total ou parcial, de estabelecimento, de obra ou de atividade;
	 
	        XI - intervenção administrativa;
	 
	        XII - imposição de contrapropaganda.
	 
	 </ul>

        Parágrafo único. As sanções previstas neste artigo serão aplicadas pela autoridade administrativa, no âmbito de sua atribuição, podendo ser aplicadas cumulativamente, inclusive por medida cautelar, antecedente ou incidente de procedimento administrativo.<br>
 
        Art. 57. A pena de multa, graduada de acordo com a gravidade da infração, a vantagem auferida e a condição econômica do fornecedor, será aplicada mediante procedimento administrativo, revertendo para o Fundo de que trata a Lei nº 7.347, de 24 de julho de 1985, os valores cabíveis à União, ou para os Fundos estaduais ou municipais de proteção ao consumidor nos demais casos. (Redação dada pela Lei nº 8.656, de 21.5.1993)<br>
 
        Parágrafo único. A multa será em montante não inferior a duzentas e não superior a três milhões de vezes o valor da Unidade Fiscal de Referência (Ufir), ou índice equivalente que venha a substituí-lo. (Parágrafo acrescentado pela Lei nº 8.703, de 6.9.1993)<br>
 
        Art. 58. As penas de apreensão, de inutilização de produtos, de proibição de fabricação de produtos, de suspensão do fornecimento de produto ou serviço, de cassação do registro do produto e revogação da concessão ou permissão de uso serão aplicadas pela administração, mediante procedimento administrativo, assegurada ampla defesa, quando forem constatados vícios de quantidade ou de qualidade por inadequação ou insegurança do produto ou serviço.<br>
 
        Art. 59. As penas de cassação de alvará de licença, de interdição e de suspensão temporária da atividade, bem como a de intervenção administrativa, serão aplicadas mediante procedimento administrativo, assegurada ampla defesa, quando o fornecedor reincidir na prática das infrações de maior gravidade previstas neste código e na legislação de consumo.<br>
 
        § 1° A pena de cassação da concessão será aplicada à concessionária de serviço público, quando violar obrigação legal ou contratual.
 
        § 2° A pena de intervenção administrativa será aplicada sempre que as circunstâncias de fato desaconselharem a cassação de licença, a interdição ou suspensão da atividade.<br>
 
        § 3° Pendendo ação judicial na qual se discuta a imposição de penalidade administrativa, não haverá reincidência até o trânsito em julgado da sentença.<br>
 
        Art. 60. A imposição de contrapropaganda será cominada quando o fornecedor incorrer na prática de publicidade enganosa ou abusiva, nos termos do art. 36 e seus parágrafos, sempre às expensas do infrator.<br>
 
        § 1º A contrapropaganda será divulgada pelo responsável da mesma forma, freqüência e dimensão e, preferencialmente no mesmo veículo, local, espaço e horário, de forma capaz de desfazer o malefício da publicidade enganosa ou abusiva.<br>
 
        § 2° (Vetado)<br>
 
        § 3° (Vetado).<br>
 

 
		 
		<b id="TítuloII">TÍTULO II</b><br>
		Das Infrações Penais<br>
 
        Art. 61. Constituem crimes contra as relações de consumo previstas neste código, sem prejuízo do disposto no Código Penal e leis especiais, as condutas tipificadas nos artigos seguintes.<br>
 
        Art. 62. (Vetado).<br>
 
        Art. 63. Omitir dizeres ou sinais ostensivos sobre a nocividade ou periculosidade de produtos, nas embalagens, nos invólucros, recipientes ou publicidade:<br>

        <ul>
 
        	Pena - Detenção de seis meses a dois anos e multa.<br>
 
 		</ul>

        § 1° Incorrerá nas mesmas penas quem deixar de alertar, mediante recomendações escritas ostensivas, sobre a periculosidade do serviço a ser prestado.<br>
 
        § 2° Se o crime é culposo:<br>

        <ul>
 
        Pena Detenção de um a seis meses ou multa.<br>
 
 		</ul>

        Art. 64. Deixar de comunicar à autoridade competente e aos consumidores a nocividade ou periculosidade de produtos cujo conhecimento seja posterior à sua colocação no mercado:<br>

        <ul>
 
        	Pena - Detenção de seis meses a dois anos e multa.<br>

        </ul>	
 
        Parágrafo único. Incorrerá nas mesmas penas quem deixar de retirar do mercado, imediatamente quando determinado pela autoridade competente, os produtos nocivos ou perigosos, na forma deste artigo.<br>
 
        Art. 65. Executar serviço de alto grau de periculosidade, contrariando determinação de autoridade competente:<br>

        <ul>
 
       		 Pena Detenção de seis meses a dois anos e multa.
		</ul>

        Parágrafo único. As penas deste artigo são aplicáveis sem prejuízo das correspondentes à lesão corporal e à morte.<br>
 
        Art. 66. Fazer afirmação falsa ou enganosa, ou omitir informação relevante sobre a natureza, característica, qualidade, quantidade, segurança, desempenho, durabilidade, preço ou garantia de produtos ou serviços:<br>

        <ul>
 
       		 Pena - Detenção de três meses a um ano e multa.
 
 		</ul>


        § 1º Incorrerá nas mesmas penas quem patrocinar a oferta.<br>
 
        § 2º Se o crime é culposo;<br>
 
        Pena Detenção de um a seis meses ou multa.<br>
 
        Art. 67. Fazer ou promover publicidade que sabe ou deveria saber ser enganosa ou abusiva:<br>

        <ul>
 
        	Pena Detenção de três meses a um ano e multa.

        </ul>	
 
        Parágrafo único. (Vetado).<br>
 
        Art. 68. Fazer ou promover publicidade que sabe ou deveria saber ser capaz de induzir o consumidor a se comportar de forma prejudicial ou perigosa a sua saúde ou segurança:<br>

        <ul>
 
        	Pena - Detenção de seis meses a dois anos e multa:

        </ul>	
 
        Parágrafo único. (Vetado).<br>
 
        Art. 69. Deixar de organizar dados fáticos, técnicos e científicos que dão base à publicidade:<br>

        <ul>
 
        	Pena Detenção de um a seis meses ou multa.

        </ul>	
 
        Art. 70. Empregar na reparação de produtos, peça ou componentes de reposição usados, sem autorização do consumidor:<br>

        <ul>
 
           Pena Detenção de três meses a um ano e multa.

        </ul>   
 
        Art. 71. Utilizar, na cobrança de dívidas, de ameaça, coação, constrangimento físico ou moral, afirmações falsas incorretas ou enganosas ou de qualquer outro procedimento que exponha o consumidor, injustificadamente, a ridículo ou interfira com seu trabalho, descanso ou lazer:<br>

        <ul>
 
            Pena Detenção de três meses a um ano e multa.<br>

        </ul>    
 
        Art. 72. Impedir ou dificultar o acesso do consumidor às informações que sobre ele constem em cadastros, banco de dados, fichas e registros:<br>
 
        <ul>

        	Pena Detenção de seis meses a um ano ou multa.<br>

        </ul>	
 
        Art. 73. Deixar de corrigir imediatamente informação sobre consumidor constante de cadastro, banco de dados, fichas ou registros que sabe ou deveria saber ser inexata:<br>

        <ul>
 
        	Pena Detenção de um a seis meses ou multa.<br>

        </ul>	
 
        Art. 74. Deixar de entregar ao consumidor o termo de garantia adequadamente preenchido e com especificação clara de seu conteúdo;<br>
 
        <ul>

       		 Pena Detenção de um a seis meses ou multa.<br>
 
 		</ul>

        Art. 75. Quem, de qualquer forma, concorrer para os crimes referidos neste código, incide as penas a esses cominadas na medida de sua culpabilidade, bem como o diretor, administrador ou gerente da pessoa jurídica que promover, permitir ou por qualquer modo aprovar o fornecimento, oferta, exposição à venda ou manutenção em depósito de produtos ou a oferta e prestação de serviços nas condições por ele proibidas.<br>
 
        Art. 76. São circunstâncias agravantes dos crimes tipificados neste código:<br>

        <ul>
 
	        I - serem cometidos em época de grave crise econômica ou por ocasião de calamidade;<br>
	 
	        II - ocasionarem grave dano individual ou coletivo;<br>
	 
	        III - dissimular-se a natureza ilícita do procedimento;<br>
	 
	        IV - quando cometidos:<br>

	        <ul>
 
		        a) por servidor público, ou por pessoa cuja condição econômico-social seja manifestamente superior à da vítima;<br>
		 
		        b) em detrimento de operário ou rurícola; de menor de dezoito ou maior de sessenta anos ou de pessoas portadoras de deficiência mental interditadas ou não;<br>
		     </ul>   
 
      		 V - serem praticados em operações que envolvam alimentos, medicamentos ou quaisquer outros produtos ou serviços essenciais.<br>
      	</ul>	 
 
        Art. 77. A pena pecuniária prevista nesta Seção será fixada em dias-multa, correspondente ao mínimo e ao máximo de dias de duração da pena privativa da liberdade cominada ao crime. Na individualização desta multa, o juiz observará o disposto no art. 60, §1° do Código Penal.<br>
 
        Art. 78. Além das penas privativas de liberdade e de multa, podem ser impostas, cumulativa ou alternadamente, observado odisposto nos arts. 44 a 47, do Código Penal:<br>
 
        <ul>

	        I - a interdição temporária de direitos;<br>
	 
	        II - a publicação em órgãos de comunicação de grande circulação ou audiência, às expensas do condenado, de notícia sobre os fatos e a condenação;<br>
	 
	        III - a prestação de serviços à comunidade.<br>

	    </ul>    
	 
        Art. 79. O valor da fiança, nas infrações de que trata este código, será fixado pelo juiz, ou pela autoridade que presidir o inquérito, entre cem e duzentas mil vezes o valor do Bônus do Tesouro Nacional (BTN), ou índice equivalente que venha a substituí-lo.<br>
 
        Parágrafo único. Se assim recomendar a situação econômica do indiciado ou réu, a fiança poderá ser:<br>

        <ul>
 
	        a) reduzida até a metade do seu valor mínimo;<br>
	 
	        b) aumentada pelo juiz até vinte vezes.<br>

	    </ul>    
 
        Art. 80. No processo penal atinente aos crimes previstos neste código, bem como a outros crimes e contravenções que envolvam relações de consumo, poderão intervir, como assistentes do Ministério Público, os legitimados indicados no art. 82, inciso III e IV, aos quais também é facultado propor ação penal subsidiária, se a denúncia não for oferecida no prazo legal.<br>
 

 
 
		<b id="TítuloIII">TÍTULO III</b><br>
		Da Defesa do Consumidor em Juízo<br>
		 
		<b id="CapítuloIb">CAPÍTULO I</b><br>
		Disposições Gerais<br>
 
        Art. 81. A defesa dos interesses e direitos dos consumidores e das vítimas poderá ser exercida em juízo individualmente, ou a título coletivo.<br>
 
        Parágrafo único. A defesa coletiva será exercida quando se tratar de:<br>

        <ul>
 
	        I - interesses ou direitos difusos, assim entendidos, para efeitos deste código, os transindividuais, de natureza indivisível, de que sejam titulares pessoas indeterminadas e ligadas por circunstâncias de fato;<br>
	 
	        II - interesses ou direitos coletivos, assim entendidos, para efeitos deste código, os transindividuais, de natureza indivisível de que seja titular grupo, categoria ou classe de pessoas ligadas entre si ou com a parte contrária por uma relação jurídica base;<br>
	 
	        III - interesses ou direitos individuais homogêneos, assim entendidos os decorrentes de origem comum.<br>

	     </ul>   
	 
        Art. 82. Para os fins do art. 81, parágrafo único, são legitimados concorrentemente: (Redação dada pela Lei nº 9.008, de 21.3.1995)<br>
 
        <ul>

	        I - o Ministério Público,
	 
	        II - a União, os Estados, os Municípios e o Distrito Federal;
	 
	        III - as entidades e órgãos da Administração Pública, direta ou indireta, ainda que sem personalidade jurídica,      especificamente destinados à defesa dos interesses e direitos protegidos por este código;
	 
	        IV - as associações legalmente constituídas há pelo menos um ano e que incluam entre seus fins institucionais a defesa dos interesses e direitos protegidos por este código, dispensada a autorização assemblear.

	    </ul>    
	 
        § 1° O requisito da pré-constituição pode ser dispensado pelo juiz, nas ações previstas nos arts. 91 e seguintes, quando haja manifesto interesse social evidenciado pela dimensão ou característica do dano, ou pela relevância do bem jurídico a ser protegido.<br>
 
        § 2° (Vetado).<br>
 
        § 3° (Vetado).<br>
 
        Art. 83. Para a defesa dos direitos e interesses protegidos por este código são admissíveis todas as espécies de ações capazes de propiciar sua adequada e efetiva tutela.<br>
 
        Parágrafo único. (Vetado).<br>
 
        Art. 84. Na ação que tenha por objeto o cumprimento da obrigação de fazer ou não fazer, o juiz concederá a tutela específica da obrigação ou determinará providências que assegurem o resultado prático equivalente ao do adimplemento.<br>
 
        § 1° A conversão da obrigação em perdas e danos somente será admissível se por elas optar o autor ou se impossível a tutela específica ou a obtenção do resultado prático correspondente.<br>
 
        § 2° A indenização por perdas e danos se fará sem prejuízo da multa (art. 287, do Código de Processo Civil).<br>
 
        § 3° Sendo relevante o fundamento da demanda e havendo justificado receio de ineficácia do provimento final, é lícito ao juiz conceder a tutela liminarmente ou após justificação prévia, citado o réu.<br>
 
        § 4° O juiz poderá, na hipótese do § 3° ou na sentença, impor multa diária ao réu, independentemente de pedido do autor, se for suficiente ou compatível com a obrigação, fixando prazo razoável para o cumprimento do preceito.<br>
 
        § 5° Para a tutela específica ou para a obtenção do resultado prático equivalente, poderá o juiz determinar as medidas necessárias, tais como busca e apreensão, remoção de coisas e pessoas, desfazimento de obra, impedimento de atividade nociva, além de requisição de força policial.<br>
 
       Art. 85. (Vetado).<br>
 
        Art. 86. (Vetado).<br>
 
        Art. 87. Nas ações coletivas de que trata este código não haverá adiantamento de custas, emolumentos, honorários periciais e quaisquer outras despesas, nem condenação da associação autora, salvo comprovada má-fé, em honorários de advogados, custas e despesas processuais.<br>
 
        Parágrafo único. Em caso de litigância de má-fé, a associação autora e os diretores responsáveis pela propositura da ação serão solidariamente condenados em honorários advocatícios e ao décuplo das custas, sem prejuízo da responsabilidade por perdas e danos.<br>
 
        Art. 88. Na hipótese do art. 13, parágrafo único deste código, a ação de regresso poderá ser ajuizada em processo autônomo, facultada a possibilidade de prosseguir-se nos mesmos autos, vedada a denunciação da lide.<br>
 
        Art. 89. (Vetado)<br>
 
        Art. 90. Aplicam-se às ações previstas neste título as normas do Código de Processo Civil e da Lei n° 7.347, de 24 de julho de 1985, inclusive no que respeita ao inquérito civil, naquilo que não contrariar suas disposições.<br>
 

 
 
		<b id="CapítuloIIb">CAPÍTULO II</b><br>
		Das Ações Coletivas Para a Defesa de Interesses Individuais Homogêneos<br>
 
        Art. 91. Os legitimados de que trata o art. 82 poderão propor, em nome próprio e no interesse das vítimas ou seus sucessores, ação civil coletiva de responsabilidade pelos danos individualmente sofridos, de acordo com o disposto nos artigos seguintes. (Redação dada pela Lei nº 9.008, de 21.3.1995)<br>
 
        Art. 92. O Ministério Público, se não ajuizar a ação, atuará sempre como fiscal da lei.<br>
 
        Parágrafo único. (Vetado).<br>
 
        Art. 93. Ressalvada a competência da Justiça Federal, é competente para a causa a justiça local:<br>

        <ul>
 
	        I - no foro do lugar onde ocorreu ou deva ocorrer o dano, quando de âmbito local;
	 
	        II - no foro da Capital do Estado ou no do Distrito Federal, para os danos de âmbito nacional ou regional, aplicando-se as regras do Código de Processo Civil aos casos de competência concorrente.

	    </ul>    
 
        Art. 94. Proposta a ação, será publicado edital no órgão oficial, a fim de que os interessados possam intervir no processo como litisconsortes, sem prejuízo de ampla divulgação pelos meios de comunicação social por parte dos órgãos de defesa do consumidor.<br>
 
        Art. 95. Em caso de procedência do pedido, a condenação será genérica, fixando a responsabilidade do réu pelos danos causados.<br>
 
        Art. 96. (Vetado).<br>
 
        Art. 97. A liquidação e a execução de sentença poderão ser promovidas pela vítima e seus sucessores, assim como pelos legitimados de que trata o art. 82.<br>
 
        Parágrafo único. (Vetado).<br>
 
        Art. 98. A execução poderá ser coletiva, sendo promovida pelos legitimados de que trata o art. 82, abrangendo as vítimas cujas indenizações já tiveram sido fixadas em sentença de liquidação, sem prejuízo do ajuizamento de outras execuções. (Redação dada pela Lei nº 9.008, de 21.3.1995)<br>
 
        § 1° A execução coletiva far-se-á com base em certidão das sentenças de liquidação, da qual deverá constar a ocorrência ou não do trânsito em julgado.<br>
 
        § 2° É competente para a execução o juízo:<br>

        <ul>
 
	        I - da liquidação da sentença ou da ação condenatória, no caso de execução individual;<br>
	 
	        II - da ação condenatória, quando coletiva a execução.<br>

	    </ul>    
	 
        Art. 99. Em caso de concurso de créditos decorrentes de condenação prevista na Lei n.° 7.347, de 24 de julho de 1985 e de indenizações pelos prejuízos individuais resultantes do mesmo evento danoso, estas terão preferência no pagamento.<br>
 
        Parágrafo único. Para efeito do disposto neste artigo, a destinação da importância recolhida ao fundo criado pela Lei n°7.347 de 24 de julho de 1985, ficará sustada enquanto pendentes de decisão de segundo grau as ações de indenização pelos danos individuais, salvo na hipótese de o patrimônio do devedor ser manifestamente suficiente para responder pela integralidade das dívidas.<br>
 
        Art. 100. Decorrido o prazo de um ano sem habilitação de interessados em número compatível com a gravidade do dano, poderão os legitimados do art. 82 promover a liquidação e execução da indenização devida.<br>
 
        Parágrafo único. O produto da indenização devida reverterá para o fundo criado pela Lei n.° 7.347, de 24 de julho de 1985.<br>
 

 
 
	<b id="CapítuloIIIb">CAPÍTULO III</b><br>
	Das Ações de Responsabilidade do Fornecedor de Produtos e Serviços<br>
 
        Art. 101. Na ação de responsabilidade civil do fornecedor de produtos e serviços, sem prejuízo do disposto nos Capítulos I e II deste título, serão observadas as seguintes normas:<br>

        <ul>
 
	        I - a ação pode ser proposta no domicílio do autor;<br>
	 
	        II - o réu que houver contratado seguro de responsabilidade poderá chamar ao processo o segurador, vedada a integração do contraditório pelo Instituto de Resseguros do Brasil. Nesta hipótese, a sentença que julgar procedente o pedido condenará o réu nos termos do art. 80 do Código de Processo Civil. Se o réu houver sido declarado falido, o síndico será intimado a informar a existência de seguro de responsabilidade, facultando-se, em caso afirmativo, o ajuizamento de ação de indenização diretamente contra o segurador, vedada a denunciação da lide ao Instituto de Resseguros do Brasil e dispensado o litisconsórcio obrigatório com este.<br>
 
	    </ul>    

        Art. 102. Os legitimados a agir na forma deste código poderão propor ação visando compelir o Poder Público competente a proibir, em todo o território nacional, a produção, divulgação distribuição ou venda, ou a determinar a alteração na composição, estrutura, fórmula ou acondicionamento de produto, cujo uso ou consumo regular se revele nocivo ou perigoso à saúde pública e à incolumidade pessoal.<br>
 
        § 1° (Vetado).<br>
 
        § 2° (Vetado).<br>
 

 
 
		<b id="CapítuloIVb">CAPÍTULO IV</b><br>
		Da Coisa Julgada<br>
 
        Art. 103. Nas ações coletivas de que trata este código, a sentença fará coisa julgada:<br>

        <ul>
 
	        I - erga omnes, exceto se o pedido for julgado improcedente por insuficiência de provas, hipótese em que qualquer legitimado poderá intentar outra ação, com idêntico fundamento valendo-se de nova prova, na hipótese do inciso I do parágrafo único do art. 81;<br>
	 
	        II - ultra partes, mas limitadamente ao grupo, categoria ou classe, salvo improcedência por insuficiência de provas, nos termos do inciso anterior, quando se tratar da hipótese prevista no inciso II do parágrafo único do art. 81;<br>
	 
	        III - erga omnes, apenas no caso de procedência do pedido, para beneficiar todas as vítimas e seus sucessores, na hipótese do inciso III do parágrafo único do art. 81.<br>
	    </ul>    
 
        § 1° Os efeitos da coisa julgada previstos nos incisos I e II não prejudicarão interesses e direitos individuais dos integrantes da coletividade, do grupo, categoria ou classe.<br>
 
        § 2° Na hipótese prevista no inciso III, em caso de improcedência do pedido, os interessados que não tiverem intervindo no processo como litisconsortes poderão propor ação de indenização a título individual.<br>
 
        § 3° Os efeitos da coisa julgada de que cuida o art. 16, combinado com o art. 13 da Lei n° 7.347, de 24 de julho de 1985, não prejudicarão as ações de indenização por danos pessoalmente sofridos, propostas individualmente ou na forma prevista neste código, mas, se procedente o pedido, beneficiarão as vítimas e seus sucessores, que poderão proceder à liquidação e à execução, nos termos dos arts. 96 a 99.<br>
 
        § 4º Aplica-se o disposto no parágrafo anterior à sentença penal condenatória.<br>
 
        Art. 104. As ações coletivas, previstas nos incisos I e II e do parágrafo único do art. 81, não induzem litispendência para as ações individuais, mas os efeitos da coisa julgada erga omnes ou ultra partes a que aludem os incisos II e III do artigo anterior não beneficiarão os autores das ações individuais, se não for requerida sua suspensão no prazo de trinta dias, a contar da ciência nos autos do ajuizamento da ação coletiva.<br>
 

 
 
	   <b id="TítuloIV">TÍTULO IV</b><br>
		Do Sistema Nacional de Defesa do Consumidor<br>
 
        Art. 105. Integram o Sistema Nacional de Defesa do Consumidor (SNDC), os órgãos federais, estaduais, do Distrito Federal e municipais e as entidades privadas de defesa do consumidor.<br>
 
        Art. 106. O Departamento Nacional de Defesa do Consumidor, da Secretaria Nacional de Direito Econômico (MJ), ou órgão federal que venha substituí-lo, é organismo de coordenação da política do Sistema Nacional de Defesa do Consumidor, cabendo-lhe:<br>

        <ul>

 
	        I - planejar, elaborar, propor, coordenar e executar a política nacional de proteção ao consumidor;<br>
	 
	        II - receber, analisar, avaliar e encaminhar consultas, denúncias ou sugestões apresentadas por entidades representativas ou pessoas jurídicas de direito público ou privado;<br>
	 
	        III - prestar aos consumidores orientação permanente sobre seus direitos e garantias;<br>
	 
	        IV - informar, conscientizar e motivar o consumidor através dos diferentes meios de comunicação;<br>
	 
	        V - solicitar à polícia judiciária a instauração de inquérito policial para a apreciação de delito contra os consumidores, nos termos da legislação vigente;<br>
	 
	        VI - representar ao Ministério Público competente para fins de adoção de medidas processuais no âmbito de suas atribuições;<br>
	 
	        VII - levar ao conhecimento dos órgãos competentes as infrações de ordem administrativa que violarem os interesses difusos, coletivos, ou individuais dos consumidores;<br>
	 
	        VIII - solicitar o concurso de órgãos e entidades da União, Estados, do Distrito Federal e Municípios, bem como auxiliar a fiscalização de preços, abastecimento, quantidade e segurança de bens e serviços;<br>
	 
	        IX - incentivar, inclusive com recursos financeiros e outros programas especiais, a formação de entidades de defesa do consumidor pela população e pelos órgãos públicos estaduais e municipais;<br>
	 
	        X - (Vetado).<br>
	 
	        XI - (Vetado).<br>
	 
	        XII - (Vetado)<br>
	 
	        XIII - desenvolver outras atividades compatíveis com suas finalidades.<br>

	    </ul>    
 
        Parágrafo único. Para a consecução de seus objetivos, o Departamento Nacional de Defesa do Consumidor poderá solicitar o concurso de órgãos e entidades de notória especialização técnico-científica.
 

 
 
	<b id="TítuloV">TÍTULO V</b><br>
	Da Convenção Coletiva de Consumo<br>
 
        Art. 107. As entidades civis de consumidores e as associações de fornecedores ou sindicatos de categoria econômica podem regular, por convenção escrita, relações de consumo que tenham por objeto estabelecer condições relativas ao preço, à qualidade, à quantidade, à garantia e características de produtos e serviços, bem como à reclamação e composição do conflito de consumo.<br>
 
        § 1° A convenção tornar-se-á obrigatória a partir do registro do instrumento no cartório de títulos e documentos.<br>
 
        § 2° A convenção somente obrigará os filiados às entidades signatárias.<br>
 
        § 3° Não se exime de cumprir a convenção o fornecedor que se desligar da entidade em data posterior ao registro do instrumento.<br>
 
        Art. 108. (Vetado).<br>
 

 
 
	<b id="TítuloVI">TÍTULO VI</b><br>
	Disposições Finais<br>
 
        Art. 109. (Vetado).<br>
 
        Art. 110. Acrescente-se o seguinte inciso IV ao art. 1° da Lei n° 7.347, de 24 de julho de 1985:<br>

        <ul>
			 
			"IV - a qualquer outro interesse difuso ou coletivo".<br>
			 
			        Art. 111. O inciso II do art. 5° da Lei n° 7.347, de 24 de julho de 1985, passa a ter a seguinte redação:<br>

			        <ul>
			 
						"II - inclua, entre suas finalidades institucionais, a proteção ao meio ambiente, ao consumidor, ao patrimônio artístico, estético, histórico, turístico e paisagístico, ou a qualquer outro interesse difuso ou coletivo".<br>

					</ul>
			 
			        Art. 112. O § 3° do art. 5° da Lei n° 7.347, de 24 de julho de 1985, passa a ter a seguinte redação:
		</ul>	

<ul>	


		"§ 3° Em caso de desistência infundada ou abandono da ação por associação legitimada, o Ministério Público ou outro legitimado assumirá a titularidade ativa".<br>
		 
		        Art. 113. Acrescente-se os seguintes §§ 4°, 5° e 6° ao art. 5º. da Lei n.° 7.347, de 24 de julho de 1985:<br>
		 
		"§ 4.° O requisito da pré-constituição poderá ser dispensado pelo juiz, quando haja manifesto interesse social evidenciado pela dimensão ou característica do dano, ou pela relevância do bem jurídico a ser protegido.<br>
		 
		§ 5.° Admitir-se-á o litisconsórcio facultativo entre os Ministérios Públicos da União, do Distrito Federal e dos Estados na defesa dos interesses e direitos de que cuida esta lei. (Vide Mensagem de veto) (Vide REsp 222582 /MG - STJ)<br>
		 
		§ 6° Os órgãos públicos legitimados poderão tomar dos interessados compromisso de ajustamento de sua conduta às exigências legais, mediante combinações, que terá eficácia de título executivo extrajudicial". (Vide Mensagem de veto)  (Vide REsp 222582 /MG - STJ)<br>
		 
		        Art. 114. O art. 15 da Lei n° 7.347, de 24 de julho de 1985, passa a ter a seguinte redação:<br>
		 
		"Art. 15. Decorridos sessenta dias do trânsito em julgado da sentença condenatória, sem que a associação autora lhe promova a execução, deverá fazê-lo o Ministério Público, facultada igual iniciativa aos demais legitimados".<br>
		 
		        Art. 115. Suprima-se o caput do art. 17 da Lei n° 7.347, de 24 de julho de 1985, passando o parágrafo único a constituir o caput, com a seguinte redação<br>
		        		 
		“Art. 17. “Art. 17. Em caso de litigância de má-fé, a associação autora e os diretores responsáveis pela propositura da ação serão solidariamente condenados em honorários advocatícios e ao décuplo das custas, sem prejuízo da responsabilidade por perdas e danos”.<br>
		 
		        Art. 116. Dê-se a seguinte redação ao art. 18 da Lei n° 7.347, de 24 de julho de 1985:<br>
		 
		"Art. 18. Nas ações de que trata esta lei, não haverá adiantamento de custas, emolumentos, honorários periciais e quaisquer outras despesas, nem condenação da associação autora, salvo comprovada má-fé, em honorários de advogado, custas e despesas processuais".<br>
		 
		        Art. 117. Acrescente-se à Lei n° 7.347, de 24 de julho de 1985, o seguinte dispositivo, renumerando-se os seguintes:<br>
		 
		"Art. 21. Aplicam-se à defesa dos direitos e interesses difusos, coletivos e individuais, no que for cabível, os dispositivos do Título III da lei que instituiu o Código de Defesa do Consumidor".<br>
		 
		        Art. 118. Este código entrará em vigor dentro de cento e oitenta dias a contar de sua publicação.<br>
		 
		        Art. 119. Revogam-se as disposições em contrário.<br>
		 
		        Brasília, 11 de setembro de 1990; 169° da Independência e 102° da República.<br><br>

		        <b><a href="#Inicio" style="color:#FFA500"><center>Início</center></a></b>
		       
</ul>		        

