<% provide(:title, "Usuário deletado") %>
<title><%= yield(:title) %></title>
  <center><h1>
  Usuário Excluído </br>
  <%= link_to "Logar", "/signin" %></br>
  <%= link_to "Home", "/users" %></br>
  </h1></center>