<% provide(:title, "Usuário deletado") %>
<title><%= yield(:title) %></title>
  <center><h1>
  Usuário Excluído </br>
  <%= link_to "Logar", signin_path %></br>
  <%= link_to "Home", root_path %></br>
  </h1></center>