<center>
	<br>
	<br>
	<br>
	<br>
	<br>
	<img src="/assets/LogoComSombra.png">
	<br>
	<img src="/assets/NomeLogo.png">
	<h1>
	<p>
	<% if signed_in? %>

		<h2>Seja bem-vindo,  <%= current_user.name_user %></h2>

	<% else %>
		Novo?<%= link_to "Registre-se!", signup_path %></br>
		<%= link_to "Logar", "/signin" %></br>
	<% end %>
	</h1>
</p></center></html>
