<% provide(:title, "Avaliação") %>
<title><%= yield(:title) %></title>
<% unity_procons = UnityProcon.where(:uf_procon => current_user.address_user) %>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span3">
			<br>
			<center>
				<h2>
					<font face="verdana" color="gray">
						Região:
					</font>
					<%= current_user.address_user%>
				</h2>
			</center>
			<left>
			</div>	
			<center>
				<h1>Avaliar Unidade do Procon</h1>
				<div class="span9">
					<table class="table table-striped">
						<thead>
							<tr>
							    <th>ID</th>
							    <th>Endereço</th> 
							    <th colspan = "3"></th>
						  	</tr>
						</thead>
						<tbody id="unity_procons">
							<% unity_procons.each do |un| %>
						      	<tr>
						      		<h6>
								        <td><%= link_to un.id, '/unity_procons/'+un.id.to_s %></td>
								        <td><%= un.address_unity_procon %></td>
						    		</h6>
						        </tr>
							<% end %>
						</tbody>
					</table>
				</div>
			</center>
		</div>
	</div>
</div>