


<label>
<input type="radio"  class="search_type" name="search_type" value="POSITIVO" checked="checked" /> +
</label>
<label>
<input type="radio"  class="search_type" "glyphicon glyphicon-minus" name="search_type" value="NEGATIVO" checked="checked" /> -
</label>

<br>
Descrição:
<textarea class="form-control" rows="3"></textarea>
<br>