<% provide(:title, "Gráficos de Atendimentos") %>
<title><%= yield(:title) %></title>

<%= render 'layouts/searcher' %>

<center>
    <h1>Gráfico de Atendimentos</h1>
    <div class="span8">

        <div id="customer_services_graphs">

        </div>

        <div id="container" st.yle="height: 300px"></div>
    </div>
</center>
