<h3>PROCURE ATENDIMENTOS</br></h3>

<form>
<span style="color:#FFA500">
Busca Textual<br>
</span>
<input type="text" name="pesquisa" size="50" maxlength="50">
<br>
<input type="radio" name="pesquisa" value="CEP"> CEP
<br>
<input type="radio" name="pesquisa" value="Data"> Data
<br>
<input type="radio" name="pesquisa" value="Fornecedor"> Fornecedor
</form>







