<h1>Lista de suppliers</h1>
<center>
<%= will_paginate %>
<% @suppliers.each do |sup| %>
      <tr>
      <h5>
        <%= link_to sup.fantasy_name_supplier, '/suppliers/'+sup.id.to_s %>
      </tr>
      </h5>
<% end %>
<%= will_paginate %>
</center>