<h1>Lista de suppliers</h1>
<center>
<%= will_paginate %>
<% @suppliers.each do |sup| %>
      <tr>
      <h6>
        <td><%= sup.fantasy_name_supplier %></td>
        - ID: <%= sup.id %>
      </tr>
      </h6>
<% end %>
<%= will_paginate %>
</center>