<div class="container-fluid">
<div class="row-fluid">
<div class="span4">
		<body style= "width:1200px">
		<h3>PROCURE ATENDIMENTOS</br></h3>
		<span style="color:#FFA500">
		<b> Busca Textual </b><br>



			<% # = form_tag('/customer_services/', method: :get) %>
			<% # input type="text" name=idteste> %>
			<% # = submit_tag "Pesquisar", class:"form_submit" %>

		</span>
			<input type="text" name="pesquisa" size="50" maxlength="50" id="custom_search_text">
			<input type="button" id="custom_search_button" value="Buscar" class="btn btn-primary" />
			<br>
			<label>
				<input type="radio"  class="search_type" name="search_type" value="CEP" checked="checked" /> <b> CEP </b>
			</label>
			<label>
				<input type="radio" class="search_type" name="search_type" value="year"> <b> Data </b>
			</label>
			<label>
				<input type="radio" class="search_type" name="search_type" value="Fornecedor"> <b> Fornecedor </b>
			</label>
			<br>
			<span style="color:#FFA500">
			<b> Filtros </b>
			<br>
		</span>

		<font style="padding-left: 10px;">
		<b> Regiões </b></font>
		<br>
		<font style="padding-left: 20px;">
			<input type="checkbox" name="regioes[norte]"> Norte
			<input type="checkbox" name="regioes[nordeste]"> Nordeste
			<input type="checkbox" name="regioes[sul]"> Sul
			<input type="checkbox" name="regioes[centro-oeste]"> Centro-Oeste
			<input type="checkbox" name="regioes[sudeste]"> Sudeste
		</font>
		<br>
		<br>

		<font style="padding-left: 10px;">
		<b> Unidades Federativas </b></font>
		<br>

		<font style="padding-left: 20px;">
			<b>
			<input type="checkbox" name="RN"> SIGLA
			<input type="checkbox" name="PB"> SIGLA
			<input type="checkbox" name="Sul"> SIGLA
			<input type="checkbox" name="Centro-Oeste"> SIGLA
			<input type="checkbox" name="Sudeste"> SIGLA
		</font>
		<br>
		<br>

		<font style="padding-left: 10px;">
		<b> Tipos de Atendimento </b></font>
		<br>

		<div style="padding-left:20px">
			<input type="checkbox" name="Simples Consulta"> Simples Consulta
			<br>
			<input type="checkbox" name="Atendimento Preliminar"> Atendimento Preliminar
			<br>
			<input type="checkbox" name="Carta de Informações Preliminares"> Carta de Informações Preliminares
			<br>
			<input type="checkbox" name="Cálculo"> Cálculo
			<br>
			<input type="checkbox" name="Juizado Especial Civel"> Juizado Especial Civel
			<br>
			<input type="checkbox" name="Encaminhamento a Fiscalização"> Encaminhamento a Fiscalização
			<br>
			<input type="checkbox" name="Abertura Direta de Reclamação"> Abertura Direta de Reclamação
			<br>
			<input type="checkbox" name="Reclamação de Ofício"> Reclamação de Ofício
			</b>
		</div>
		</form>
		</body>
	<left>
</div>